mtom/mtom-simple-binary/src/main/resources/wsdl/mtomStream.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="fileStorageStream"
             targetNamespace="http://ws.learn.tc.cz/mtom/stream/api"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://ws.learn.tc.cz/mtom/stream/api"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:xsd1="http://ws.learn.tc.cz/mtom/stream/types/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:xmime="http://www.w3.org/2005/05/xmlmime">
    <!--
    WSDL zdroje (motivace):
    @see https://access.redhat.com/documentation/en-us/red_hat_fuse/7.5/html/apache_cxf_development_guide/fusecxfmtom
    @see https://access.redhat.com/documentation/en-us/red_hat_fuse/7.5/html/apache_cxf_development_guide/fusecxfswa
    @see https://www.sitepoint.com/mime-types-complete-list/
    -->
    <types>
        <schema targetNamespace="http://ws.learn.tc.cz/mtom/stream/types/"
                xmlns="http://www.w3.org/2001/XMLSchema">
            <complexType name="fileStreamType">
                <sequence>
                    <element name="fileName" type="xsd:string" />
                    <element name="contentData" type="xsd:base64Binary" 
                             xmime:expectedContentTypes="application/octet-stream"/>
                </sequence>
            </complexType>
            <element name="fileStream" type="xsd1:fileStreamType" />
        </schema>
    </types>

    <!-- 
    EXCHANGE of (application/octet-stream) FILE 
    @see https://www.rfc-editor.org/rfc/rfc2046.html
    @see https://www.rfc-editor.org/rfc/rfc2046.html#section-4.5.1
    @see https://www.rfc-editor.org/rfc/rfc2046.html#section-5.2.4
    -->
    <message name="storageUploadStreamRequest">
        <part name="file" element="xsd1:fileStream"/>
    </message>
    <message name="storageUploadStreamResponse">
        <part name="success" type="xsd:boolean"/>
    </message>
    <message name="storageDownloadStreamRequest">
        <part name="filenameStream" type="xsd:string"/>
    </message>
    <message name="storageDownloadStreamResponse">
        <part name="success" element="xsd1:fileStream"/>
    </message>

    <portType name="fileStorageStreamPort">
        <!-- EXCHANGE of (binary) FILE -->
        <operation name="uploadStream">
            <input message="tns:storageUploadStreamRequest" name="storageUploadStreamRequest"/>
            <output message="tns:storageUploadStreamResponse" name="storageUploadStreamResponse"/>
        </operation>
        <operation name="downloadStream">
            <input message="tns:storageDownloadStreamRequest" name="storageDownloadStreamRequest"/>
            <output message="tns:storageDownloadStreamResponse" name="storageDownloadStreamResponse"/>
        </operation>
    </portType>

    <binding name="fileStorageStreamBinding" type="tns:fileStorageStreamPort">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <!-- EXCHANGE of (binary) FILE -->
        <operation name="uploadStream">
            <soap12:operation soapAction="" style="document"/>
            <input name="storageUploadStreamRequest">
                <soap12:body use="literal"/>
            </input>
            <output name="storageUploadStreamResponse">
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="downloadStream">
            <soap12:operation soapAction="" style="document"/>
            <input name="storageDownloadStreamRequest">
                <soap12:body use="literal"/>
            </input>
            <output name="storageDownloadStreamResponse">
                <soap12:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="fileStorageStreamService">
        <port binding="tns:fileStorageStreamBinding" name="fileStorageStreamServicePort">
            <soap12:address location="http://localhost:8080/mtom.ws/fileStorageStreamService"/>
        </port>
    </service>
</definitions>
