jaxws/jaxws.simplest.api/src/main/resources/META-INF/wsdl/SimplestWebServiceApi.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SimplestWebServiceApiWsdl" 
             targetNamespace="http://api.simplest.jaxws.javaee.learn.toce.cz"
             xmlns:tns="http://api.simplest.jaxws.javaee.learn.toce.cz"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:api="http://model.api.simplest.jaxws.javaee.learn.toce.cz">
    <!-- xTypes: via XSD-->
    <types>
        <xsd:schema elementFormDefault="qualified">
            <xsd:import namespace="http://model.api.simplest.jaxws.javaee.learn.toce.cz" schemaLocation="simplest.xsd"/>
        </xsd:schema>
    </types>
    
    <!-- Messages -->
    <message name="HelloIn">
        <part name="parameters" element="api:HelloRequest"/>
    </message>
    <message name="HelloOut">
        <part name="parameters" element="api:HelloResponse"/>
    </message>
    <message name="HelloExceptionIn">
        <part name="parameters" element="api:HelloRuntimeExceptionRequest"/>
    </message>
    <message name="HelloExceptionOut">
        <part name="parameters" element="api:HelloRuntimeExceptionResponse"/>
    </message>
    <message name="HelloCheckedExceptionIn">
        <part name="parameters" element="api:HelloCheckedExceptionRequest"/>
    </message>
    <message name="HelloCheckedExceptionOut">
        <part name="parameters" element="api:HelloCheckedExceptionResponse"/>
    </message>
    <message name="HelloWebServiceExceptionIn">
        <part name="parameters" element="api:HelloWebServiceExceptionRequest"/>
    </message>
    <message name="HelloWebServiceExceptionOut">
        <part name="parameters" element="api:HelloWebServiceExceptionResponse"/>
    </message>
    <message name="HelloSoapFaultExceptionIn">
        <part name="parameters" element="api:HelloSoapFaultExceptionRequest"/>
    </message>
    <message name="HelloSoapFaultExceptionOut">
        <part name="parameters" element="api:HelloSoapFaultExceptionResponse"/>
    </message>
    <message name="InternalErrorExceptionFault">
        <part name="fault" element="api:InternalErrorException"/>
    </message>    
    
    <!-- Ports -->
    <portType name="SimplestWebServiceApiPortType">
        <operation name="hello">
            <documentation>Metoda, kt. pri zpracovani vrati businessovou odpoved</documentation>
            <input name="input0" message="tns:HelloIn"/>
            <output name="output0" message="tns:HelloOut"/>
        </operation>
        <operation name="helloRuntimeException">
            <documentation>Metoda, kt. pri zpracovani vyhodi runtime exception</documentation>
            <input name="input1" message="tns:HelloExceptionIn"/>
            <output name="output1" message="tns:HelloExceptionOut"/>
        </operation>
        <operation name="helloCheckedException">
            <documentation>Metoda, kt. pri zpracovani vyhodi checked exception - InternalErrorExceptionFault</documentation>
            <input name="input2" message="tns:HelloCheckedExceptionIn"/>
            <output name="output2" message="tns:HelloCheckedExceptionOut"/>
            <fault name="internalErrorException" message="tns:InternalErrorExceptionFault"/>
        </operation>
        <operation name="helloWebServiceException">
            <documentation>Metoda, kt. pri zpracovani vyhodi javax.xml.ws.WebServiceException</documentation>
            <input name="input3" message="tns:HelloWebServiceExceptionIn"/>
            <output name="output3" message="tns:HelloWebServiceExceptionOut"/>
        </operation>
        <operation name="helloSoapFaultException">
            <documentation>Metoda, kt. pri zpracovani vyhodi javax.xml.ws.soap.SOAPFaultException</documentation>
            <input name="input4" message="tns:HelloSoapFaultExceptionIn"/>
            <output name="output4" message="tns:HelloSoapFaultExceptionOut"/>
        </operation>
    </portType>
    
    <!-- Bindings -->
    <binding name="SimplestWebServiceApiBindingSoap11Http" type="tns:SimplestWebServiceApiPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="hello">
            <soap:operation style="document" soapAction=""/>
            <input name="input0"><!-- ukazuje na portType/operation/input[@name]-->
                <soap:body use="literal"/>
            </input>
            <output name="output0"><!-- ukazuje na portType/operation/output[@name]-->
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="helloRuntimeException">
            <soap:operation style="document" soapAction=""/>
            <input name="input1"><!-- ukazuje na portType/operation/input[@name]-->
                <soap:body use="literal"/>
            </input>
            <output name="output1"><!-- ukazuje na portType/operation/output[@name]-->
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="helloCheckedException">
            <soap:operation style="document" soapAction="" />
            <input name="input2"><!-- ukazuje na portType/operation/input[@name]-->
                <soap:body use="literal"/>
            </input>
            <output name="output2"><!-- ukazuje na portType/operation/output[@name]-->
                <soap:body use="literal"/>
            </output>
            <fault name="internalErrorException"><!-- ukazuje na portType/operation/fault[@name]-->
                <soap:fault use="literal" name="internalErrorException"/>
            </fault>
        </operation>
        <operation name="helloWebServiceException">
            <soap:operation style="document" soapAction=""/>
            <input name="input3"><!-- ukazuje na portType/operation/input[@name]-->
                <soap:body use="literal"/>
            </input>
            <output name="output3"><!-- ukazuje na portType/operation/output[@name]-->
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="helloSoapFaultException">
            <soap:operation style="document" soapAction=""/>
            <input name="input4"><!-- ukazuje na portType/operation/input[@name]-->
                <soap:body use="literal"/>
            </input>
            <output name="output4"><!-- ukazuje na portType/operation/output[@name]-->
                <soap:body use="literal"/>
            </output>
        </operation>               
    </binding>
    
    <binding name="SimplestWebServiceApiBindingSoap12Http" type="tns:SimplestWebServiceApiPortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="hello">
            <soap12:operation style="document" soapAction=""  soapActionRequired="false"/>
            <input name="input0"><!-- ukazuje na portType/operation/input[@name]-->
                <soap12:body use="literal"/>
            </input>
            <output name="output0"><!-- ukazuje na portType/operation/output[@name]-->
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="helloRuntimeException">
            <soap12:operation style="document" soapAction="" soapActionRequired="false"/>
            <input name="input1"><!-- ukazuje na portType/operation/input[@name]-->
                <soap12:body use="literal"/>
            </input>
            <output name="output1"><!-- ukazuje na portType/operation/output[@name]-->
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="helloCheckedException">
            <soap12:operation style="document" soapAction="" soapActionRequired="false"/>
            <input name="input2"><!-- ukazuje na portType/operation/input[@name]-->
                <soap12:body use="literal"/>
            </input>
            <output name="output2"><!-- ukazuje na portType/operation/output[@name]-->
                <soap12:body use="literal"/>
            </output>
            <fault name="internalErrorException"><!-- ukazuje na portType/operation/fault[@name]-->
                <soap12:fault use="literal" name="internalErrorException"/>
            </fault>
        </operation>
        <operation name="helloWebServiceException">
            <soap12:operation style="document" soapAction="" soapActionRequired="false"/>
            <input name="input3"><!-- ukazuje na portType/operation/input[@name]-->
                <soap12:body use="literal"/>
            </input>
            <output name="output3"><!-- ukazuje na portType/operation/output[@name]-->
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="helloSoapFaultException">
            <soap:operation style="document" soapAction=""/>
            <input name="input4"><!-- ukazuje na portType/operation/input[@name]-->
                <soap:body use="literal"/>
            </input>
            <output name="output4"><!-- ukazuje na portType/operation/output[@name]-->
                <soap12:body use="literal"/>
            </output>
        </operation>      
    </binding>
    
    <!-- Services -->
    <service name="SimplestWebServiceApi">
        <documentation>Simplest soap fault web service example - to demonstrated soap fault behaviour</documentation>
        <port name="SimplestWebServiceApiSoap11Http" binding="tns:SimplestWebServiceApiBindingSoap11Http"><!-- ukazuje na binding[@name]-->
            <documentation>Soap fault example processing via soap 1.1 version</documentation>
            <soap:address location="http://localhost:8080/jax-ws/simplest/api"/>
        </port>        
        <port name="SimplestWebServiceApiSoap12Http" binding="tns:SimplestWebServiceApiBindingSoap12Http"><!-- ukazuje na binding[@name]-->
            <documentation>Soap fault example processing via soap 1.2 version</documentation>
            <soap12:address location="http://localhost:8080/jax-ws/simplest/api"/>
        </port>
    </service>
</definitions>
